<!-- base template ที่ถูกๆหน้าใช้ร่วมกัน-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
</head>
<body>
    <a href = "/">First Page</a>
    <a href ="/about">About us</a>
    <a href ="/form">Information form</a>
    <hr>
    <div>
        {% block content %}
        {% endblock %}
    </div>  
</body>
</html>