<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Form</title>
</head>
<body>
    <h1 style="color: blue">Information Form</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex sequi voluptatibus delectus, quaerat enim soluta commodi in nisi consequatur, rem laudantium doloribus. Officiis eos alias minima consequuntur consequatur quis consectetur.</p>
    <hr>
    <a href = "/">First Page</a>
    <a href ="/about">About us</a>
    <a href ="/form">Information form</a>
</body>
</html>